@import url('https://fonts.googleeapis.com/css?family=open+sans:400,600,700&display=swap');

body{
	margin: 0;
	padding: 0;

}

*{
	box-sizing: border-box; 
}

.container{
	max-width: 1140px;
	margin: auto;
	position: relative;
	min-height: 1px;
}
.team{
	min-height: 100vh;
	padding: 60px 15px;
	background-color: #22252a;
	border-radius: 5px;
}
.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color: #ffffff;
	margin: o;
	padding-bottom: 60px;
	text-align: center;
}
.team .card{
	width: 25%;
	float: left;

}
.team .card .box{
	padding: 15px;
	background-color: ;
} 
.team .card .box img{
	width: 150px;
	display: auto;
	margin: 10px auto;
	border-radius: 50%;
	

}  
.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	color: #ea5e71;
	margin: 15px 0px 10px;
	text-align: center;
	font-weight: 700;

}
.team .card .box h5{
	font-size: 16px;
	font-family: open sans;
	font-weight: 600;
	color: #b9b9b9;
	margin: 0px 0px 15px;
	text-align: center;

}
